.pre-event-description{
    @include mobilePadding();
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: map-get($theme-colors, "white-alt");
    @include shadowDesc();
/*
    h2{
        @include montserrat();
        @include header2();
        font-weight: 700;
        color: map-get($theme-colors, "primary");
        margin-bottom: 1rem;
    }
  */  
    
    .description-container{
        width: 70%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        p {
            @include paragraph1();
            @include myriadProRegular();
            color: map-get($theme-colors, "primary-light");
            line-height: 1.5;
        }

        @media screen and (max-width: 960px){
            width: 100%;
        }
    }

}