// @import "../../module/description-template";

.pre-event-description{
    background-color: map-get($theme-colors, "primary");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h2{
        color: map-get($theme-colors, "white");
    }
    
    .description-body {
        @include fluidpaddingy(5rem, 6rem);
        width: 85%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media screen and (max-width:960px){
            flex-direction: column;
        }

        .description-text {
            @include fluidpaddingleft(4rem, 5rem);
        }

        .description-image {
            @include fluidpaddingleft(2.5rem, 3.5rem);
        }


    }

    ul {
        padding-right: 10rem;

        @media screen and (max-width: 960px) {
            padding-right: 2rem;
        }

        li {
            @include montserrat();
            @include paragraph1();
            @include fluidleft(2.6rem, 3rem);
            letter-spacing: 0.01rem;
            color: map-get($theme-colors, "white");
            font-weight: 600;
            line-height: 2.5;
            list-style: none;
            position: relative;
        }
        li:before{
            content:'';
            position: absolute;
            @include fluidleft(-2rem, -2.4rem);
            @include fluidtop(1.5rem, 1.7rem);
            @include fluidwidth(1rem, 1.2rem);
            @include fluidheight(1rem, 1.2rem);
            display: inline-flex;
            border-radius: 50%;
            background-color: map-get($theme-colors, "white");
        }
    }
}