.pre-event-hero{
    @include backgroundOverlaySecondary("../assets/pre-event/hero.jpg");
    @include backgroundPosition(30%, 50%);
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;

    h1{
        @include fluidpaddingy(1.2rem, 1.8rem);
        @include fluidfontsize(2.0rem, 4.6rem);
        @include montserrat();
        font-weight: 700;
        color: map-get($theme-colors, "white");
    }

    a{
        @include header3();
    }

    @media screen and (max-width: 960px){
        min-height: 40%;
    }

}