.registration-hero{
    min-width: 60%;
    min-height: 100%;
    @include background("../assets/registration/PreEvent3Poster.jpg");
    @include backgroundPosition(100%, 45%);

    @media screen and (max-width: 960px){
        display: none;
    }
}