/* MIXIN FOR CUSTOM RANGE OF FLUID SIZES
 *  -- Menerima masukan batas bawah font size 'floor' dan batas atas font size 'ceiling', satuan rem!
 *  -- Mengeluarkan kode css yang membuat transisi antara floor dan ceiling 'fluid'     
 *
 *  -- TABLE OF CONTENT
 *  -- 1. Width
 *  -- 2. Padding
 *  -- 3. Margin
 *  -- 4. Font-Size
 *  -- 5. Letter-Spacing  
 *  -- 6. Responsive Border
 *  -- 7. Responsive Padding Inline Start
 */
/* -- 01. Mixin untuk fluid width -- */
/* -- 02. Mixin untuk fluid padding -- */
/* -- 03. Mixin untuk fluid margin -- */
/* -- 05. Mixin untuk fluid font size -- */
/* -- 06. Mixin untuk fluid letter spacing -- */
/* -- 07. Mixin untuk Responsive Border (Satu Sisi) -- */
/* -- 08. Mixin untuk Padding-Inline-Start -- */
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("module/fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"), url("module/fonts/MYRIADPRO-COND.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed Italic"), url("module/fonts/MYRIADPRO-CONDIT.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Light"), url("module/fonts/MYRIADPRO-Light.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("module/fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold Italic"), url("module/fonts/MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("module/fonts/MYRIADPRO-BOLD.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed"), url("module/fonts/MYRIADPRO-BOLDCOND.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Italic"), url("module/fonts/MYRIADPRO-BOLDIT.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed Italic"), url("module/fonts/MYRIADPRO-BOLDCONDIT.woff") format("woff");
}

.button-white-transparent {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.button-white-transparent {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 320px) {
  .button-white-transparent {
    padding-left: calc(1rem + 1.75 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(1rem + 1.75 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-white-transparent {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
}

.button-white-transparent {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

@media screen and (min-width: 320px) {
  .button-white-transparent {
    padding-bottom: calc(0.9rem + 0.3 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(0.9rem + 0.3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-white-transparent {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.button-white-transparent {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .button-white-transparent {
    font-size: calc(1.2rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-white-transparent {
    font-size: 1.6rem;
  }
}

.button-white-transparent:hover {
  background-color: #E5AC00;
  color: white;
  border-color: #E5AC00;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-white-transparent:active {
  background-color: #FFC517;
  color: white;
  border-color: #FFC517;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-primary {
  font-family: 'Montserrat', sans-serif;
  background-color: #0252B3;
  border: 2px solid #0252B3;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.button-primary {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 320px) {
  .button-primary {
    padding-left: calc(1rem + 1.75 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(1rem + 1.75 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-primary {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
}

.button-primary {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

@media screen and (min-width: 320px) {
  .button-primary {
    padding-bottom: calc(0.9rem + 0.3 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(0.9rem + 0.3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-primary {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.button-primary {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .button-primary {
    font-size: calc(1.2rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-primary {
    font-size: 1.6rem;
  }
}

.button-primary:hover {
  background-color: #0368E3;
  color: white;
  border-color: #0368E3;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-primary:active {
  background-color: #FFC517;
  color: white;
  border-color: #FFC517;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-secondary {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFC517;
  border: 2px solid #FFC517;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.button-secondary {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 320px) {
  .button-secondary {
    padding-left: calc(1rem + 1.75 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(1rem + 1.75 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-secondary {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
}

.button-secondary {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

@media screen and (min-width: 320px) {
  .button-secondary {
    padding-bottom: calc(0.9rem + 0.3 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(0.9rem + 0.3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-secondary {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.button-secondary {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .button-secondary {
    font-size: calc(1.2rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-secondary {
    font-size: 1.6rem;
  }
}

.button-secondary:hover {
  background-color: #FFD24C;
  color: white;
  border-color: #FFD24C;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-secondary:active {
  background-color: #0252B3;
  color: white;
  border-color: #0252B3;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-secondary-transparent {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border: 2px solid #FFC517;
  color: #0252B3;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.button-secondary-transparent {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 320px) {
  .button-secondary-transparent {
    padding-left: calc(1rem + 1.75 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(1rem + 1.75 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-secondary-transparent {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
}

.button-secondary-transparent {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

@media screen and (min-width: 320px) {
  .button-secondary-transparent {
    padding-bottom: calc(0.9rem + 0.3 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(0.9rem + 0.3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-secondary-transparent {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.button-secondary-transparent {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .button-secondary-transparent {
    font-size: calc(1.2rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-secondary-transparent {
    font-size: 1.6rem;
  }
}

.button-secondary-transparent:hover {
  background-color: #E8E8E8;
  color: #0252B3;
  border-color: #E8E8E8;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-secondary-transparent:active {
  background-color: #F4F4F4;
  color: #0252B3;
  border-color: #F4F4F4;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.section-title .header-line {
  margin-bottom: 0.8rem;
  width: 10rem;
  background: -webkit-gradient(linear, left top, right top, from(#FFC517), color-stop(110.95%, rgba(255, 197, 23, 0)));
  background: linear-gradient(90deg, #FFC517 0%, rgba(255, 197, 23, 0) 110.95%);
}

.section-title .header-line {
  height: 0.8rem;
}

@media screen and (min-width: 320px) {
  .section-title .header-line {
    height: calc(0.8rem + 0.7 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .section-title .header-line {
    height: 1.5rem;
  }
}

.section-title h2 {
  font-family: 'Montserrat', sans-serif;
  color: #0252B3;
  text-align: center;
}

.section-title h2 {
  font-size: 2rem;
}

@media screen and (min-width: 320px) {
  .section-title h2 {
    font-size: calc(2rem + 1.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .section-title h2 {
    font-size: 3.2rem;
  }
}

.section-title h2 {
  padding-bottom: 2rem;
}

@media screen and (min-width: 320px) {
  .section-title h2 {
    padding-bottom: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .section-title h2 {
    padding-bottom: 3rem;
  }
}

.post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  min-height: auto;
  padding: 1.5rem;
}

.post-container::-webkit-scrollbar {
  display: none;
}

.post-container .post-card {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.post-container .post-card {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 320px) {
  .post-container .post-card {
    margin-left: calc(1rem + 1 * ((100vw - 32rem) / (96 - 32)));
    margin-right: calc(1rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .post-container .post-card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.post-container .post-card:last-child {
  margin-left: 2rem !important;
  margin-right: 0rem !important;
}

.post-container .post-card:first-child {
  margin-left: 0rem !important;
  margin-right: 2rem !important;
}

@media screen and (max-width: 960px) {
  .post-container .post-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .post-container .post-card {
    width: 24rem;
  }
}

@media screen and (max-width: 960px) and (min-width: 320px) {
  .post-container .post-card {
    width: calc(24rem + 4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (max-width: 960px) and (min-width: 960px) {
  .post-container .post-card {
    width: 28rem;
  }
}

.post-container .post-card .post-image {
  width: 100%;
  border-radius: .5rem;
}

.post-container .post-card .post-image {
  height: 15rem;
}

@media screen and (min-width: 320px) {
  .post-container .post-card .post-image {
    height: calc(15rem + 5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .post-container .post-card .post-image {
    height: 20rem;
  }
}

.post-container .post-card .post-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-container .post-card .post-desc .post-title, .post-container .post-card .post-desc .post-link {
  margin-top: 2rem;
}

.post-container .post-card .post-desc .post-summary {
  margin-top: 1rem;
}

.post-container .post-card .post-desc .post-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.post-container .post-card h3, .post-container .post-card h2, .post-container .post-card h1, .post-container .post-card p {
  color: #0252B3;
}

.post-container .post-card h3 {
  font-family: 'Montserrat', sans-serif;
}

.post-container .post-card h3 {
  font-size: 1.6rem;
}

@media screen and (min-width: 320px) {
  .post-container .post-card h3 {
    font-size: calc(1.6rem + 0.8 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .post-container .post-card h3 {
    font-size: 2.4rem;
  }
}

.post-container .post-card h2 {
  font-family: 'Montserrat', sans-serif;
}

.post-container .post-card h2 {
  font-size: 2rem;
}

@media screen and (min-width: 320px) {
  .post-container .post-card h2 {
    font-size: calc(2rem + 1.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .post-container .post-card h2 {
    font-size: 3.2rem;
  }
}

.post-container .post-card h1 {
  font-family: 'Montserrat', sans-serif;
}

.post-container .post-card h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 320px) {
  .post-container .post-card h1 {
    font-size: calc(2.8rem + 1.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .post-container .post-card h1 {
    font-size: 4rem;
  }
}

.post-container .post-card p {
  font-family: 'Myriad Pro Regular';
  line-height: 1.5;
}

.post-container .post-card p {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .post-container .post-card p {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .post-container .post-card p {
    font-size: 1.4rem;
  }
}

.card-registration {
  background: url("../assets/registrationCard/registrationCard1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  width: 70%;
  background-position-x: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card-registration {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 320px) {
  .card-registration {
    padding-bottom: calc(3rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(3rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .card-registration {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.card-registration {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 320px) {
  .card-registration {
    padding-left: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .card-registration {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 960px) {
  .card-registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.card-registration h1 {
  font-family: 'Montserrat', sans-serif;
  color: #0252B3;
}

.card-registration h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 320px) {
  .card-registration h1 {
    font-size: calc(2.8rem + 1.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .card-registration h1 {
    font-size: 4rem;
  }
}

.card-registration h1 {
  margin-bottom: 1rem;
}

@media screen and (min-width: 320px) {
  .card-registration h1 {
    margin-bottom: calc(1rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .card-registration h1 {
    margin-bottom: 2rem;
  }
}

.card-registration p {
  font-family: 'Myriad Pro Regular';
  color: #013A7E;
  line-height: 1.5;
}

.card-registration p {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .card-registration p {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .card-registration p {
    font-size: 1.4rem;
  }
}

.card-registration .card-registration-description {
  width: 100%;
}

.card-registration .card-registration-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.card-registration .card-registration-link {
  margin-top: 1rem;
}

@media screen and (min-width: 320px) {
  .card-registration .card-registration-link {
    margin-top: calc(1rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .card-registration .card-registration-link {
    margin-top: 2rem;
  }
}

main {
  overflow-x: hidden;
  background-color: #F4F4F4;
}

.display-inline-block {
  display: inline-block !important;
}

.paragraph {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .paragraph {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .paragraph {
    font-size: 1.4rem;
  }
}

.landing-hero {
  background: url("../assets/landing/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  width: 100%;
  min-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  .landing-hero {
    background: url("../assets/landing/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.landing-hero .landing-hero-description {
  padding-left: 8rem;
  padding-right: 8rem;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-hero .landing-hero-description {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 320px) {
  .landing-hero .landing-hero-description {
    padding-bottom: calc(3rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(3rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-hero .landing-hero-description {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 960px) {
  .landing-hero .landing-hero-description {
    width: 100%;
  }
  .landing-hero .landing-hero-description {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 960px) and (min-width: 320px) {
  .landing-hero .landing-hero-description {
    padding-left: calc(2rem + 2 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (max-width: 960px) and (min-width: 960px) {
  .landing-hero .landing-hero-description {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.landing-hero .landing-hero-description h1 {
  font-family: 'Montserrat', sans-serif;
  color: #F4F4F4;
  font-weight: 700;
}

.landing-hero .landing-hero-description h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 320px) {
  .landing-hero .landing-hero-description h1 {
    font-size: calc(2.8rem + 1.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-hero .landing-hero-description h1 {
    font-size: 4rem;
  }
}

.landing-hero .landing-hero-description h1 {
  padding-bottom: 1.8rem;
}

@media screen and (min-width: 320px) {
  .landing-hero .landing-hero-description h1 {
    padding-bottom: calc(1.8rem + 0.7 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-hero .landing-hero-description h1 {
    padding-bottom: 2.5rem;
  }
}

.landing-hero .landing-hero-description p {
  font-family: 'Myriad Pro Regular';
  color: #F4F4F4;
  line-height: 1.5;
}

.landing-hero .landing-hero-description p {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .landing-hero .landing-hero-description p {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-hero .landing-hero-description p {
    font-size: 1.4rem;
  }
}

.landing-hero .landing-hero-description p {
  padding-bottom: 2rem;
}

@media screen and (min-width: 320px) {
  .landing-hero .landing-hero-description p {
    padding-bottom: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-hero .landing-hero-description p {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 960px) {
  .landing-hero .landing-hero-description p {
    line-height: 1.7;
  }
}

.landing-description {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-description .box1 {
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing-description .box1 div {
  background: url("../assets/objects/circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  position: relative;
  top: -10rem;
  left: 10rem;
}

.landing-description .box1 div {
  width: 15rem;
}

@media screen and (min-width: 320px) {
  .landing-description .box1 div {
    width: calc(15rem + 5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-description .box1 div {
    width: 20rem;
  }
}

.landing-description .box1 div {
  height: 15rem;
}

@media screen and (min-width: 320px) {
  .landing-description .box1 div {
    height: calc(15rem + 5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-description .box1 div {
    height: 20rem;
  }
}

@media screen and (max-width: 960px) {
  .landing-description .box1 div {
    top: -1rem;
    left: 13rem;
  }
}

.landing-description .box2 {
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.landing-description .box2 div {
  background: url("../assets/objects/hexagon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  position: relative;
  top: -10rem;
  left: -15rem;
}

.landing-description .box2 div {
  width: 20rem;
}

@media screen and (min-width: 320px) {
  .landing-description .box2 div {
    width: calc(20rem + 10 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-description .box2 div {
    width: 30rem;
  }
}

.landing-description .box2 div {
  height: 20rem;
}

@media screen and (min-width: 320px) {
  .landing-description .box2 div {
    height: calc(20rem + 10 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-description .box2 div {
    height: 30rem;
  }
}

@media screen and (max-width: 960px) {
  .landing-description .box2 div {
    left: -12rem;
  }
}

.landing-description .landing-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.landing-description .landing-flex-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 320px) {
  .landing-description .landing-flex-container {
    padding-bottom: calc(3rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(3rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-description .landing-flex-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.landing-description .landing-flex-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 320px) {
  .landing-description .landing-flex-container {
    padding-left: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-description .landing-flex-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.landing-description .landing-flex-container .landing-description-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

@media screen and (max-width: 960px) {
  .landing-description .landing-flex-container .landing-description-text {
    width: 100%;
  }
}

.landing-description .landing-flex-container .landing-description-text p {
  font-family: 'Myriad Pro Regular';
  color: #0252B3;
  text-align: center;
  line-height: 1.5;
}

.landing-description .landing-flex-container .landing-description-text p {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .landing-description .landing-flex-container .landing-description-text p {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-description .landing-flex-container .landing-description-text p {
    font-size: 1.4rem;
  }
}

.landing-event {
  width: 100%;
  height: auto;
  background-color: #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-event {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 320px) {
  .landing-event {
    padding-bottom: calc(3rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(3rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-event {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.landing-event {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 320px) {
  .landing-event {
    padding-left: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-event {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.image-event-1 {
  background: url("../assets/landing/event/post1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-event-2 {
  background: url("../assets/landing/event/post2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-event-3 {
  background: url("../assets/landing/event/post3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-registration {
  width: 100%;
  min-height: 20vh;
  background-color: #F4F4F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-registration {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 320px) {
  .landing-registration {
    padding-bottom: calc(3rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(3rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-registration {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.landing-registration {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 320px) {
  .landing-registration {
    padding-left: calc(2rem + 6 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 6 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .landing-registration {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.registration-container {
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration-card {
  max-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.25), 4px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.25), 4px 0px 5px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration-card {
  padding-bottom: 3rem;
}

@media screen and (min-width: 320px) {
  .registration-card {
    padding-bottom: calc(3rem + 2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card {
    padding-bottom: 5rem;
  }
}

.registration-card {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 320px) {
  .registration-card {
    padding-left: calc(1.5rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(1.5rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.registration-card h1 {
  font-family: 'Montserrat', sans-serif;
}

.registration-card h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 320px) {
  .registration-card h1 {
    font-size: calc(2.8rem + 1.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card h1 {
    font-size: 4rem;
  }
}

.registration-card h2 {
  font-family: 'Myriad Pro Regular';
}

.registration-card h2 {
  font-size: 2rem;
}

@media screen and (min-width: 320px) {
  .registration-card h2 {
    font-size: calc(2rem + 1.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card h2 {
    font-size: 3.2rem;
  }
}

.registration-card h3 {
  font-family: 'Myriad Pro Regular';
}

.registration-card h3 {
  font-size: 1.6rem;
}

@media screen and (min-width: 320px) {
  .registration-card h3 {
    font-size: calc(1.6rem + 0.8 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card h3 {
    font-size: 2.4rem;
  }
}

.registration-card p {
  font-family: 'Myriad Pro Regular';
}

.registration-card p {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .registration-card p {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card p {
    font-size: 1.4rem;
  }
}

.registration-card .registration-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration-card .registration-navigation {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-navigation {
    padding-bottom: calc(1.5rem + 0.5 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(1.5rem + 0.5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-navigation {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.registration-card .registration-navigation img {
  height: 2rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-navigation img {
    height: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-navigation img {
    height: 3rem;
  }
}

.registration-card .registration-title {
  color: #0c0c0c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration-card .registration-title img {
  margin-bottom: 1.2rem;
  display: none;
}

.registration-card .registration-title img {
  width: 12rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-title img {
    width: calc(12rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-title img {
    width: 15rem;
  }
}

@media screen and (max-width: 960px) {
  .registration-card .registration-title img {
    display: block;
  }
}

.registration-card .registration-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Myriad Pro Regular';
}

.registration-card .registration-content {
  padding-top: 2rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content {
    padding-top: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content {
    padding-top: 3rem;
  }
}

.registration-card .registration-content .registration-input {
  display: block;
  position: relative;
}

.registration-card .registration-content .registration-input {
  margin: 2rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-input {
    margin: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-input {
    margin: 3rem;
  }
}

.registration-card .registration-content .registration-input .text-label {
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 1;
  color: #0c0c0c;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  margin-bottom: 0 !important;
}

.registration-card .registration-content .registration-input .text-label {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-input .text-label {
    font-size: calc(1.2rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-input .text-label {
    font-size: 1.6rem;
  }
}

.registration-card .registration-content .registration-input .text-label {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-input .text-label {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-input .text-label {
    font-size: 1.4rem;
  }
}

.registration-card .registration-content .registration-input input[type=text], .registration-card .registration-content .registration-input input[type=email] {
  width: 100%;
}

.registration-card .registration-content .registration-input input[type=text], .registration-card .registration-content .registration-input input[type=email], .registration-card .registration-content .registration-input input[type=number], .registration-card .registration-content .registration-input .txta {
  display: block;
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  border-bottom: 1px solid #0c0c0c;
  background-color: transparent;
  margin-bottom: 0;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.registration-card .registration-content .registration-input input[type=text], .registration-card .registration-content .registration-input input[type=email], .registration-card .registration-content .registration-input input[type=number], .registration-card .registration-content .registration-input .txta {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-input input[type=text], .registration-card .registration-content .registration-input input[type=email], .registration-card .registration-content .registration-input input[type=number], .registration-card .registration-content .registration-input .txta {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-input input[type=text], .registration-card .registration-content .registration-input input[type=email], .registration-card .registration-content .registration-input input[type=number], .registration-card .registration-content .registration-input .txta {
    font-size: 1.4rem;
  }
}

.registration-card .registration-content .registration-input input[type=text]:focus, .registration-card .registration-content .registration-input input[type=text]:not(:placeholder-shown), .registration-card .registration-content .registration-input input[type=email]:focus, .registration-card .registration-content .registration-input input[type=email]:not(:placeholder-shown), .registration-card .registration-content .registration-input input[type=number]:focus, .registration-card .registration-content .registration-input input[type=number]:not(:placeholder-shown), .registration-card .registration-content .registration-input .txta:focus, .registration-card .registration-content .registration-input .txta:not(:placeholder-shown) {
  outline: none;
  border-bottom: 1px solid #0252B3;
}

.registration-card .registration-content .registration-input input[type=text]:focus + .text-label, .registration-card .registration-content .registration-input input[type=text]:not(:placeholder-shown) + .text-label, .registration-card .registration-content .registration-input input[type=email]:focus + .text-label, .registration-card .registration-content .registration-input input[type=email]:not(:placeholder-shown) + .text-label, .registration-card .registration-content .registration-input input[type=number]:focus + .text-label, .registration-card .registration-content .registration-input input[type=number]:not(:placeholder-shown) + .text-label, .registration-card .registration-content .registration-input .txta:focus + .text-label, .registration-card .registration-content .registration-input .txta:not(:placeholder-shown) + .text-label {
  top: -20px;
  color: #0252B3;
  font-size: 11px;
}

.registration-card .registration-content .registration-radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration-card .registration-content .registration-radio-wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-radio-wrapper {
    margin-left: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
    margin-right: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-radio-wrapper {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.registration-card .registration-content .registration-radio-wrapper .radio-header {
  margin-bottom: 1rem;
}

.registration-card .registration-content .registration-radio-wrapper .radio-header {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-radio-wrapper .radio-header {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-radio-wrapper .radio-header {
    font-size: 1.4rem;
  }
}

.registration-card .registration-content .registration-radio-wrapper label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.registration-card .registration-content .registration-radio-wrapper label {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-radio-wrapper label {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-radio-wrapper label {
    font-size: 1.4rem;
  }
}

.registration-card .registration-content .registration-radio-wrapper label {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-radio-wrapper label {
    margin-bottom: calc(0.5rem + 0.5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-radio-wrapper label {
    margin-bottom: 1rem;
  }
}

.registration-card .registration-content .registration-radio-wrapper label .radio-button {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.registration-card .registration-content .registration-radio-wrapper label .radio-button {
  width: 1.6rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-radio-wrapper label .radio-button {
    width: calc(1.6rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-radio-wrapper label .radio-button {
    width: 2rem;
  }
}

.registration-card .registration-content .registration-radio-wrapper label .radio-button {
  height: 1.6rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-radio-wrapper label .radio-button {
    height: calc(1.6rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-radio-wrapper label .radio-button {
    height: 2rem;
  }
}

.registration-card .registration-content .registration-radio-wrapper label input[type=radio] {
  display: none;
}

.registration-card .registration-content .registration-radio-wrapper label input[type=radio] + .radio-button {
  border: 2px solid #0c0c0c;
}

.registration-card .registration-content .registration-radio-wrapper label input[type=radio]:checked + .radio-button {
  border: 2px solid #0252B3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration-card .registration-content .registration-radio-wrapper label input[type=radio]:checked + .radio-button span {
  display: inline-block;
  border-radius: 50%;
  background-color: #0252B3;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.registration-card .registration-content .registration-radio-wrapper label input[type=radio]:checked + .radio-button span {
  width: 0.8rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-radio-wrapper label input[type=radio]:checked + .radio-button span {
    width: calc(0.8rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-radio-wrapper label input[type=radio]:checked + .radio-button span {
    width: 1rem;
  }
}

.registration-card .registration-content .registration-radio-wrapper label input[type=radio]:checked + .radio-button span {
  height: 0.8rem;
}

@media screen and (min-width: 320px) {
  .registration-card .registration-content .registration-radio-wrapper label input[type=radio]:checked + .radio-button span {
    height: calc(0.8rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-card .registration-content .registration-radio-wrapper label input[type=radio]:checked + .radio-button span {
    height: 1rem;
  }
}

.registration-card .registration-content .registration-radio-wrapper label .radio-description {
  margin-left: .6rem;
  display: inline;
}

.registration-hero {
  min-width: 60%;
  min-height: 100%;
  background: url("../assets/registration/RegistrationHero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 960px) {
  .registration-hero {
    display: none;
  }
}

.registration-success {
  width: 100%;
}

.registration-success {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 320px) {
  .registration-success {
    padding-bottom: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.registration-success p {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .registration-success p {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success p {
    font-size: 1.4rem;
  }
}

.registration-success .registration-success-description {
  margin-bottom: 1.5rem;
}

.registration-success .registration-success-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registration-success .registration-success-link {
  padding-top: 1.8rem;
}

@media screen and (min-width: 320px) {
  .registration-success .registration-success-link {
    padding-top: calc(1.8rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success .registration-success-link {
    padding-top: 2rem;
  }
}

.registration-success .registration-success-summary {
  width: 100%;
}

.registration-success .registration-success-summary {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 320px) {
  .registration-success .registration-success-summary {
    padding-bottom: calc(2rem + 0 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(2rem + 0 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success .registration-success-summary {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.registration-success .registration-success-summary .summary-title {
  font-family: 'Myriad Pro Regular';
  font-weight: 700;
  color: #868686;
}

.registration-success .registration-success-summary .summary-title {
  font-size: 1rem;
}

@media screen and (min-width: 320px) {
  .registration-success .registration-success-summary .summary-title {
    font-size: calc(1rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success .registration-success-summary .summary-title {
    font-size: 1.2rem;
  }
}

.registration-success .registration-success-summary .summary-date {
  font-family: 'Myriad Pro Bold';
  color: #121212;
}

.registration-success .registration-success-summary .summary-date {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .registration-success .registration-success-summary .summary-date {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success .registration-success-summary .summary-date {
    font-size: 1.4rem;
  }
}

.registration-success .registration-success-summary .summary-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration-success .registration-success-summary .summary-data-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 320px) {
  .registration-success .registration-success-summary .summary-data-container {
    padding-bottom: calc(1rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(1rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success .registration-success-summary .summary-data-container {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.registration-success .registration-success-summary .summary-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration-success .registration-success-summary .summary-data {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 320px) {
  .registration-success .registration-success-summary .summary-data {
    padding-bottom: calc(1rem + 0 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(1rem + 0 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success .registration-success-summary .summary-data {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.registration-success .registration-success-summary .summary-data {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 320px) {
  .registration-success .registration-success-summary .summary-data {
    padding-left: calc(1.5rem + 0.5 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(1.5rem + 0.5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success .registration-success-summary .summary-data {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.registration-success .registration-success-summary .summary-data .data-title {
  font-family: 'Myriad Pro Bold';
  color: #121212;
}

.registration-success .registration-success-summary .summary-data .data-title {
  font-size: 1.1rem;
}

@media screen and (min-width: 320px) {
  .registration-success .registration-success-summary .summary-data .data-title {
    font-size: calc(1.1rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success .registration-success-summary .summary-data .data-title {
    font-size: 1.3rem;
  }
}

.registration-success .registration-success-summary .summary-data .data-value {
  font-family: 'Myriad Pro Regular';
  color: #545454;
}

.registration-success .registration-success-summary .summary-data .data-value {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .registration-success .registration-success-summary .summary-data .data-value {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .registration-success .registration-success-summary .summary-data .data-value {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=main.css.map */