$border-rad: 2rem;

.summit-activities {
    @include fluidpaddingy(3rem, 5rem);
    @include fluidpaddingx(8rem, 12rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($theme-colors, "white");

    @media screen and (max-width: 960px) {
        @include fluidpaddingx(3rem, 4rem);
    } 

    h2 {
        @include header2();
        @include montserrat();
        font-weight: 700;
        line-height: 1.15;
    }

    h3 {
        @include header3();
        @include montserrat();
        font-weight: 700;
        line-height: 1.15;
    }
    
    p {
        @include paragraph1();
        @include myriadProRegular();
        line-height: 1.4;
        color: map-get($theme-colors, "white");      
    }
    
    ol {
        @include paragraph1();
        @include myriadProRegular();
        line-height: 1.4;
        color: map-get($theme-colors, "white");
        @include fluidpaddingleft(1.5rem, 1.5rem);
        
        li {
            @include fluidpaddingleft(1rem, 1rem);
            position: relative;
        }
    }
    
    ul {
        @include paragraph1();
        @include myriadProRegular();
        line-height: 1.4;
        color: map-get($theme-colors, "white");
        @include fluidpaddingleft(1.5rem, 1.5rem);
        list-style: disc;
    }

    .activity-header {
        color: map-get($theme-colors, "primary");
        @include fluidpaddingbottom(4rem, 5rem);
    }

    .activity-chamber {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        @include fluidmarginy(1rem, 2rem);
        * {
            border-radius: $border-rad;
        }
        
        @media screen and (max-width: 960px) {
            flex-direction: column;
            img {
                width: 100%;
            }
        }
        
        :not(:first-child):not(:last-child) {
            @include fluidmarginx(1.5rem, 1.5rem);
            
            @media screen and (max-width: 960px) {
                margin: 0;
                @include fluidmarginy(1rem, 2rem);
            }
        }
    }

    .activity-block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: map-get($theme-colors, "primary");
        @include fluidmarginy(1rem, 2rem);
        border-radius: $border-rad;
        flex-direction: row-reverse;
        overflow: hidden;

        &:nth-child(2), &:nth-child(odd) {
            flex-direction: row;
        }
        
        .activity-image {
            height: 100%;
            max-width: 40%;
            object-fit: cover;
            
            @media screen and (max-width: 960px) {
                display: none;
            }            
        }

        .activity-description {
            @include fluidpaddingx(3.5rem, 3.8rem);
            @include fluidpaddingy(2.4rem, 2.8rem);
            min-width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            flex-grow: 2;
            
            .activity-title{
                @include header3();
                @include montserrat();
                font-weight: 700;
                color: map-get($theme-colors, "white");
                position: relative;
                @include fluidpaddingleft(5.5rem, 5.5rem);
                @include fluidpaddingbottom(1.5rem, 2rem);
                
                sup {
                    @include headerSize(1rem, 1.6rem);
                }
                
                @media screen and (max-width: 960px) {
                    @include fluidpaddingleft(4.5rem, 4.5rem);
                }       

            }
            
            .activity-title::before {
                @include fluidwidth(3.5rem, 4.5rem);
                @include fluidheight(3.5rem, 4.5rem);
                position: absolute;
                @include fluidleft(0rem, 0rem);
                @include fluidtop(-1rem, -1rem);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: map-get($theme-colors, "secondary");
                color: map-get($theme-colors, "primary");
                content: counter(section) ".";
                counter-increment: section;
                
                @media screen and (max-width: 960px) {
                    @include fluidtop(-1rem, -1rem);
                }       
            }

            .activity-subchamber {
                width: 90%;
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                align-items: center;
                justify-content: center;
                @include fluidheight(10rem, 10rem);
                @include fluidpaddingx(2rem, 2.5rem);
                @include fluidpaddingy(1rem, 1.2rem);
                @include fluidmarginy(0.7rem, 0.7rem);
                border: solid 1px map-get($theme-colors, "white-alt");
                border-radius: 1rem;
                
                
                * {
                    @include fluidpaddingx(1rem, 1rem);
                }
                
                &:nth-child(3) {
                    @include fluidmargintop(3rem, 3rem);
                }
                
                p {
                    text-align: left;
                    font-weight: 500;
                    flex-grow: 2;
                }
                
                img {
                    height: 100%;
                }
                
                .logo {
                    padding: auto
                }
                
                @media screen and (max-width: 960px) {
                    @include fluidheight(17rem, 17rem);
                    @include fluidpadding(1rem, 1rem);
                    width: 100%;
                    flex-direction: column;
                    
                    *{padding:0;}
                    
                    .sdg {
                        @include fluidmarginbottom(1rem, 1rem);
                        object-fit: contain;
                        @include fluidheight(15rem, 15rem);
                    }

                    .logo {
                        width: 100%;
                        object-fit: contain;
                    }
                    
                    p, span { display:none; }
                }
            }
            
        }
    }
}