$actimages: (
    "../assets/summit/activity1.jpg",
    "../assets/summit/activity2.jpg",
    "../assets/summit/activity3.jpg",
    "../assets/summit/activity4.jpg"
);
  
.summit-activities {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: map-get($theme-colors, "white" );
    
    .activity-container {
        @include fluidpaddingy(2rem, 3rem);
        @include fluidpaddingx(2rem, 4rem);
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: map-get($theme-colors, "white-alt" );
        @include shadowSides();
        
        @media screen and (max-width: 960px) {
            @include fluidpaddingx(1.6rem, 3.6rem);
            width: 100%;
        }
        
        h1 {
            @include header2();
            @include montserrat();
            font-weight: 700;
            color: map-get($theme-colors, "primary" );
        }
        
        .activity-block {
            @include fluidpaddingy(1.6rem, 2.8rem);
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            @media screen and (max-width: 960px) {
                flex-direction: column;
            }
            
            .activity-image {
                width: 100%;
                min-width: 50%;
                @include fluidheight(15rem,20rem);
                @include backgroundPosition(50%, 50%);
                border-radius: .5rem;   

                @media screen and (max-width: 960px) {
                    display: none;
                }
            }
            
            @each $image in $actimages {
                $i: index($actimages, $image);
                .image-activity-#{$i}{
                    @include background($image);
                }
            }
            
            .activity-description {
                @include fluidpaddingx(1.6rem, 2.4rem);
                min-width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: left;
                
                .activity-title{
                    @include header3();
                    @include montserrat();
                    font-weight: 600;
                    color: map-get($theme-colors, "primary");
                }
                
                .activity-title::before {
                    @include fluidpadding(1.6rem, 1.6rem);
                    display: inline-flex;
                    @include fluidwidth(3.2rem, 4.2rem);
                    @include fluidheight(3.2rem, 4.2rem);
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: map-get($theme-colors, "secondary");
                    color: map-get($theme-colors, "primary");
                    content: counter(section);
                    counter-increment: section;
                    margin-right: 1rem;
                }
                
                p {
                    @include paragraph();
                    @include myriadProRegular();
                    color: map-get($theme-colors, "primary-light" );
                    margin-top: 1.6rem;
                    text-align: justify;
                }
            }
        }
    }
}