$chmimages: (
    "sdg4": "../assets/summit/sdg4.jpg",
    "sdg8": "../assets/summit/sdg8.jpg",
    "sdg13": "../assets/summit/sdg13.jpg",
    "sdg4logo": "../assets/summit/logo-projectChild.jpg",
    "sdg8logo": "../assets/summit/logo-XSProject.svg",
    "sdg13logo": "../assets/summit/walhi-logo.jpg",
    "sdg4backdrop" : "../assets/summit/projectchild-backdrop.jpg",
    "sdg8backdrop" : "../assets/summit/xsproject-backdrop.png",
    "sdg13backdrop" : "../assets/summit/walhi-backdrop.jpg",
);
  
.summit-chambers {
    @include fluidpaddingy(3rem, 5rem);
    @include fluidpaddingx(3rem, 12rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: map-get($theme-colors, "purple-light");

    h2{
        @include header2();
        @include montserrat();
        font-weight: 700;
        line-height: 1.0;
        color: map-get($theme-colors, "primary");
    }
    
    h3{
        @include header3();
        @include montserrat();
        font-weight: 700;
        line-height: 1.15;
        color: map-get($theme-colors, "white-alt");
    }

    p {
        @include paragraphSize(1rem, 1.4rem);
        @include myriadProRegular();
        line-height: 1.3;
        color: map-get($theme-colors, "white-alt");        
    }

    .description-header{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @include fluidpaddingbottom(3rem, 3rem);
        }
    }

    .description-body{
        width: 100%;
        display: flex;
    }
}

.panels-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    @media screen and (max-width: 960px) {
        flex-direction: column;        
    }

    .panel {
        width: 100%;
        border-radius: 1.5rem;
        // border-radius: remToVw(96rem, 1rem);
        background-color: map-get($theme-colors, "primary");

        &:first-child{
            @media screen and (min-width: 960px) {
                @include fluidmarginright(1rem, 1rem);
            }
        }

        &:last-child{
            @media screen and (min-width: 960px) {
                @include fluidmarginleft(1rem, 1rem);
            }
        }

        &:not(:first-child):not(:last-child){
            @media screen and (min-width: 960px) {
                @include fluidmarginx(1rem, 1rem);
            }
        }

        &:not(:last-child){
            @media screen and (max-width: 960px){
                @include fluidmarginbottom(2rem, 2rem);
            }
        }

        .panel-image-backdrop {
            @include fluidheight(25rem, 30rem);
            width: 100%;
            border-radius: 1.5rem 1.5rem 0 0;
            // border-radius: remToVw(96rem, 1rem) remToVw(96rem, 1rem) 0 0;
            display: flex;
            flex-direction: column;
        }

        .panel-title{
            width: 100%;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;

            img {
                @include fluidheight(10rem, 10rem);
            }
        }

        .panel-header{
            @include fluidpaddingtop(2rem, 3rem);
            @include fluidpaddingx(2rem, 3rem);
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .header-icon {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    @include fluidwidth(4rem, 6rem);
                }
            }

            .header-title{
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                *:not(:last-child) {
                    @include fluidpaddingbottom(1rem, 1rem);
                }

                h3 {
                    @include fluidfontsize(1.4rem, 1.8rem);
                    text-align: right;
                }
            }
        }

        .panel-footer{
            @include fluidpadding(1.5rem, 1.8rem);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            *:not(:last-child){
                @include fluidpaddingbottom(1rem, 1rem);
            }

            h3{
                color: map-get($theme-colors, "secondary");
            }

            p {
                text-align: justify;
            }
        }
    }

    
}

.backdrop-project-child{
    @include backgroundOverlayDark(map-get($chmimages, "sdg4backdrop"));
}

.backdrop-xs-project{
    @include backgroundOverlayDark(map-get($chmimages, "sdg8backdrop"));
}

.backdrop-walhi{
    @include backgroundOverlayDark(map-get($chmimages, "sdg13backdrop"));
}