.summit-description{
    @include fluidpaddingy(1rem, 5rem);
    @include fluidpaddingx(2rem, 12rem);
    width: 100%;
    min-height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: map-get($theme-colors, "white-alt" );
    @include shadowDesc();

    
    .description-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            @include paragraph2();
            @include myriadProRegular();
            color: map-get($theme-colors, "primary-light");
            line-height: 1.5;
            text-align: center;
        }

        @media screen and (max-width: 960px){
            width: 100%;
        }
    }

}