.business-case-flow{
    @include fluidpaddingy(2.4rem, 3.2rem);
    @include fluidpaddingx(4rem, 8rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($theme-colors, "primary");

    h2{
        @include header2();
        @include montserrat();
        @include fluidmarginbottom(3rem, 4rem);
        font-weight: 700;
        text-align: center;
        color: map-get($theme-colors, "white-alt");
    }

    h3 {
        color: map-get($theme-colors, "white-alt");
    }

    p {
        @include paragraph2();
        line-height: 1.25;
        color: map-get($theme-colors, "white-alt");
    }

}