body {
    counter-reset: section;
}

.business-case-juries{
    @include fluidpaddingx(3rem, 5rem);
    @include fluidpaddingy(2rem, 5rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($theme-colors, "white-alt");

    h1{
        @include header1();
        @include montserrat();
        font-weight: 700;
        line-height: 1.0;
        color: map-get($theme-colors, "primary");
    }

    h2{
        @include header2();
        @include montserrat();
        font-weight: 700;
        line-height: 1.0;
        color: map-get($theme-colors, "primary");
    }
    
    h3{
        @include header3();
        @include montserrat();
        font-weight: 700;
        line-height: 1.15;
        color: map-get($theme-colors, "primary");
    }

    p, li {
        @include paragraph1();
        @include myriadProRegular();
        line-height: 1.3;
        color: map-get($theme-colors, "black-alt");        
    }

    .showcase-header{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @include fluidpaddingbottom(2rem, 2rem);
        }
    }

    .showcase-body {
        width: 100%;
        display: flex;
        flex-direction: row;

        @media screen and (max-width:960px){
            flex-direction: column;
        }

        .showcase-card {
            @include fluidpaddingx(3rem, 5rem);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                @media screen and (max-width: 960px) {
                    @include fluidmarginbottom(4rem, 4rem);
                }
            }

            img {
                width: 100%;
                @include fluidpaddingbottom(2rem, 2rem);
            }

            ul {
                width: 100%;

                li {   
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    @include fluidpaddingtop(1rem, 1rem);

                    &::before{
                        @include fluidmarginright(1rem, 1rem);
                        flex: 0 0 remToVw(96rem, 1.2rem);
                        height: remToVw(96rem, 1.2rem);
                        border: remToVw(96rem, .4rem) solid map-get($theme-colors, "primary");
                        border-radius: 50%;
                        content: " ";
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;

                        @media screen and (max-width: 960px) {
                            height: 1.2rem;
                            flex: 0 0 1.2rem;
                            border: .4rem solid map-get($theme-colors, "primary");
                        }
                    }
                } 
            }
        }
    }
}