.navbar{
    @include fluidpaddingx(3rem, 5rem);
    @include fluidpaddingy(1.5rem, 2rem);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s ease-in-out;
    background-color: map-get($theme-colors, "white");

    .navbar-logo{
        img{
            @include fluidwidth(8rem, 12rem);
        }
    }

    .navbar-links{
        display: flex;

        a{
            @include fluidpaddingx(2rem, 2rem);
            @include montserrat();
            @include paragraph();
            font-weight: 800;
            color: map-get($theme-colors, "black-alt");
            letter-spacing: 1px;
            transition: all 0.2s;

            &:first-child{
                padding-left: 0;
            }

            &:last-child{
                padding-right: 0;
            }

            &:hover{
                color: map-get($theme-colors, "primary-light");
            }

            &:active{
                color: map-get($theme-colors, "primary" );
            }
        }

        @media screen and (max-width: 960px){
            display: none;
        }
    }

    .navbar-registration{
        @include fluidwidth(8rem, 12rem);

        @media screen and (max-width: 960px){
            display: none;
        }
    }

    .navbar-mobile-nav{
        display: none;
        @media screen and (max-width: 960px){
            display: flex;
        }
    }
}