.post-container {
    $btnPadding: 1rem;

    @include fluidpaddingbottom(1.9rem, 2.1rem);
    @include fluidpaddingx(1rem, 1.2rem);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    min-height: max-content;
    
    @media screen and (max-width: 960px){
        &::-webkit-scrollbar{
            display: none;
        }
    }
    
    .post-card {
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        width: 100%;
        height: inherit;
        justify-content: stretch;

        &:last-child {
            margin-left: 1rem !important;
            margin-right: 0rem !important;
        }

        &:first-child {
            margin-left: 0rem !important;
            margin-right: 1rem !important;
        }

        &:not(:last-child):not(:first-child) {
            margin-right: 1rem !important;
            margin-left: 1rem !important;
        }

        @media screen and (max-width: 960px){
            @include fluidwidth(22rem, 28rem);
            flex: 0 0 auto;
        }

        .post-title-image {
            @include fluidheight(15rem, 18rem);
            @include backgroundPosition(50%, 60%);
            background-size: 115%;
            width: 100%;
            border-radius: 2.5rem;
            display: flex;
            justify-content: center;
            color: map-get($theme-colors, "white");
            align-items: center;
            
            @media screen and (max-width: 960px){
                border-radius: 1.2rem;
            }

            span {
                @include header3();
                @include montserrat();
                text-align: center;
                font-weight: 700;
                }
        }

        .post-desc {
            @include fluidmarginy(2rem, 2.4rem);
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            text-align: justify;
        }
        
        .post-link{
            display: flex;
            flex-flow: row;
            margin-top: auto;

            a {

                &:first-child {
                    @include fluidmarginright($btnPadding, $btnPadding);
                }
    
                &:last-child {
                    @include fluidmarginleft($btnPadding, $btnPadding);
                }
                &:not(:last-child):not(:first-child) {
                    margin-right: $btnPadding;
                    margin-left: $btnPadding;
                }
            }
        }
    }

    h3 {
        @include montserrat();
        @include header3();
    }

    h2 {
        @include montserrat();
        @include header2();
    }

    h1 {
        @include montserrat();
        @include header1();
    }

    p {
        @include myriadProRegular();
        @include paragraph();    
        line-height: 1.5;
    }
}