// ======================
//  A. Section Title
// ======================

.section-title{
    @include fluidpaddingtop(3rem, 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2{
        @include montserrat();
        @include header2();
        color: map-get($theme-colors, "primary");
        text-align: center;
    }       
}
