.landing-description{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .box1{
        height: 0;
        display: flex;
        justify-content: flex-end;

        div {
            @include background("../assets/objects/circle.svg");
            @include fluidwidth(15rem, 20rem);
            @include fluidheight(15rem, 20rem);
            background-size: contain;
            position: relative;
            top: -10rem;
            left: 10rem;

            @media screen and (max-width: 960px){
                top: -1rem;
                left: 13rem;
            }
        }
    }

    .box2{
        height: 0;
        display: flex;
        justify-content: flex-start;

        div{
            @include background("../assets/objects/hexagon.svg");
            @include fluidwidth(20rem, 30rem);
            @include fluidheight(20rem, 30rem);
            background-size: contain;
            position: relative;
            top: -10rem;
            left: -15rem;

            @media screen and (max-width: 960px){
                left: -12rem;
            }
        }
    }

    .landing-flex-container{
        @include mobilePadding();
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 960px) {
            width: 100%;
        }
    
        .landing-description-text{
            padding-left: 0;
            @include fluidpaddingright(2rem,2rem);
            justify-content: left;
            width: 55%;
            text-align: left;
            margin: 2rem;
            
            @media screen and (max-width: 960px) {
                width: 90%;
                padding-right: 0;
            }

            h2 {
                @include fluidfontsize(2rem, 2.8rem);
                letter-spacing: 0.05rem;
                @include montserrat();
                color: map-get($theme-colors, "primary");
                @include fluidpaddingy(1.4rem, 1.8rem);
                
            }
            sup{
                @include paragraph2();
            }
            ul {
                padding-right: 10rem;

                @media screen and (max-width: 960px) {
                    padding-right: 2rem;
                }

                li {
                    @include myriadProRegular();
                    @include paragraph2();
                    @include fluidleft(2.6rem, 3rem);
                    letter-spacing: 0.01rem;
                    color: map-get($theme-colors, "black");
                    line-height: 1.5;
                    list-style: none;
                    position: relative;
                }
                li:before{
                    content:'';
                    position: absolute;
                    @include fluidleft(-2rem, -2.4rem);
                    @include fluidtop(0.9rem, 1.1rem);
                    @include fluidwidth(1rem, 1.2rem);
                    @include fluidheight(1rem, 1.2rem);
                    display: inline-flex;
                    border-radius: 50%;
                    background-color: map-get($theme-colors, "secondary");
                }
            }
            
        }

        .landing-description-image {
            padding-left: 2rem;
            padding-right: 0rem;
            width: 45%;

            div{
                @include background("../assets/landing/desc.png");
                @include backgroundPosition(50%, 30%);
                @include fluidheight(25rem, 30rem);
                border-radius: 3rem;
            }
            
            @media screen and (max-width: 960px) {
                display: none;
            }
        }
    }


}