.landing-description{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .box1{
        height: 0;
        display: flex;
        justify-content: flex-end;

        div {
            @include background("../assets/objects/circle.svg");
            @include fluidwidth(15rem, 20rem);
            @include fluidheight(15rem, 20rem);
            background-size: contain;
            position: relative;
            top: -10rem;
            left: 10rem;

            @media screen and (max-width: 960px){
                top: -1rem;
                left: 13rem;
            }
        }
    }

    .box2{
        height: 0;
        display: flex;
        justify-content: flex-start;

        div{
            @include background("../assets/objects/hexagon.svg");
            @include fluidwidth(20rem, 30rem);
            @include fluidheight(20rem, 30rem);
            background-size: contain;
            position: relative;
            top: -10rem;
            left: -15rem;

            @media screen and (max-width: 960px){
                left: -12rem;
            }
        }
    }

    .landing-flex-container{
        @include mobilePadding();
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;

        @media screen and (max-width: 960px) {
            width: 100%;
        }
    
        .landing-description-text{
            justify-content: left;
            width: 55%;
            text-align: justify;
            margin: 4rem;
    
            h2 {
                @include header2();
                @include montserrat();
                color: map-get($theme-colors, "primary");
                @include fluidpaddingy(1.4rem, 1.8rem);

            }
            p {
                @include myriadProRegular();
                @include paragraph2();
                color: map-get($theme-colors, "black");
                line-height: 1.5;
            }
        }

        .landing-description-image {
            width: 45%;
            // @include fluidheight(30rem, 40rem);

            div{
                // TODO Change Placeholder
                @include background("../assets/landing/event/post1.jpg");
                @include backgroundPosition(50%, 30%);
                @include fluidheight(25rem, 30rem);
                border-radius: 3rem;
            }
        }
    }


}