$images: (
    "../assets/landing/event/post1.jpg",
    "../assets/landing/event/post2.jpg",
    "../assets/landing/event/post3.jpg"
);

// Use: 
// - _section-cards.scss

.landing-event{
    @include mobilePadding();
    width: 100%;
    height: auto;
    background-color: map-get($theme-colors, "white-alt");
    display: flex;
    flex-direction: column;
}

@each $image in $images {
    $i: index($images, $image);
    .image-event-#{$i}{
        @include background($image);
    }
}
