.landing-hero {
    @include background("../assets/landing/hero.jpg");
    @include backgroundPosition(50%, 50%);
    width: 100%;
    min-height: 80%;
    display: flex;
    justify-content: flex-end;
    @include shadowHero();

    @media screen and (max-width: 960px){
        @include background("../assets/landing/hero-mobile.jpg");
        min-height: 100%;
        justify-content: center;
    }

    .landing-hero-description{
        padding-left: 8rem;
        padding-right: 8rem;
        @include fluidpaddingy(3rem, 4rem);
        width: 40%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 960px){
            @include fluidpaddingx(2rem, 4rem);
            width: 100%;
        }

        h1{
            @include montserrat();
            @include header1();
            @include fluidpaddingbottom(1.8rem, 2.5rem);
            color: map-get($theme-colors, 'white');
            font-weight: 700;
            
        }

        p{
            @include myriadProRegular();
            @include paragraph1();
            @include fluidpaddingbottom(2rem, 3rem);
            color: map-get($theme-colors, 'white');
            line-height: 1.5;
            
            @media screen and (max-width: 960px){
                line-height: 1.6;
                @include paragraph();

            }
        }
    }
}