@import "../../module/hero-template";

.landing-hero{
    // z-index: -10;
    @include hero-template("../assets/landing/hero.jpg");
    @include fluidpaddingbottom(8rem, 9rem); // sementara, nunggu slider
    @media screen and (max-width: 960px) {
        justify-content: flex-end;
    }
    .hero-top {
        // position: relative;
        .hero-icon {
            position: relative;
            @include fluidbottom(-8rem, -10rem);
            @include fluidleft(3rem, 4rem);
            width: 60%;
            
        }
    }
}