body{
    counter-reset: section;
}

.flow-container{
    width: 100%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 960px){
        max-width: remToVw(96rem, 56rem);
    }
    
    h3{
        @include header3();
        @include montserrat();
        font-weight: 700;
        margin-bottom: remToVw(96rem, 1rem);
    }

    p {
        @media screen and (max-width:960px){
            @include fluidpaddingtop(1.5rem, 2rem);
        }
        @include paragraph();
        @include myriadProRegular();
        text-align: left;
        line-height: 1.5;
    }
    
    .flow-card{
        @include fluidpaddingx(3rem, 4rem);
        @include fluidpaddingy(2.5rem, 3rem);
        border-radius: 2rem;
        // border-radius: remToVw(96rem, 2rem);
        width: 100%;
        max-width: remToVw(96rem, 52rem);
        border: remToVw(96rem, 0.1rem) solid;
        border-color: map-get($theme-colors, "secondary");

        @media screen and (max-width: 960px){
            border-width: 1px;
            max-width: 52rem;
        }
        
        h3{
            position: relative;
            @include fluidpaddingleft(4.5rem, 5.5rem);
        }
        
        h3::before {
            @include fluidwidth(3.5rem, 4.5rem);
            @include fluidheight(3.5rem, 4.5rem);
            position: absolute;
            @include fluidleft(0rem, 0rem);
            @include fluidtop(-1rem, -1rem);
            // @include fluidpadding(2rem, 2rem);
            // @include fluidmargin(1rem,1rem);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: map-get($theme-colors, "secondary");
            color: map-get($theme-colors, "primary");
            content: counter(section) ".";
            counter-increment: section;
        }

    }

    .flow-connector{
        @include fluidwidth(.1rem, .2rem);
        height: remToVw(96rem, 4rem);
        background-color: map-get($theme-colors, "secondary");
    }
}