body{
    counter-reset: section;
}

.flow-container{
    width: 100%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 960px){
        max-width: remToVw(96rem, 56rem);
    }
    
    h3{
        @include header3();
        @include montserrat();
        font-weight: 700;
        margin-bottom: remToVw(96rem, 1rem);
    }

    p {
        @include paragraph();
        @include myriadProRegular();
        text-align: justify;
        line-height: 1.5;
    }
    
    .flow-card{
        @include fluidwidth(50rem,52rem);
        @include fluidpaddingx(3rem, 4rem);
        @include fluidpaddingy(2rem, 2.4rem);
        border-radius: remToVw(96rem, 1rem);
        // width: 100%;
        border: remToVw(96rem, 0.1rem) solid;
        border-color: map-get($theme-colors, "secondary");

        @media screen and (max-width: 960px){
            border-width: 1px;
        }
        
        h3::before {
            @include fluidpadding(2rem, 2rem);
            display: inline-flex;
            @include fluidwidth(3.5rem, 4.5rem);
            @include fluidheight(3.5rem, 4.5rem);
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: map-get($theme-colors, "secondary");
            color: map-get($theme-colors, "primary");
            content: counter(section) ".";
            counter-increment: section;
            margin-right: remToVw(96rem, 2rem);
        }
    }

    .flow-connector{
        @include fluidwidth(.1rem, .2rem);
        height: remToVw(96rem, 4rem);
        background-color: map-get($theme-colors, "secondary");
    }
}