@mixin hero-template($url){
    $externalPadding: ("min": 2rem, "max": 5rem);
    $logoWidth: ("min": 8rem, "max": 12rem);
    $stdPaddingMin: 2rem;
    $stdPaddingMax: 3rem;
    $extPaddingMax: 5rem;


    @include fluidpaddingbottom($stdPaddingMin, $extPaddingMax);
    @include backgroundOverlayDark($url);
    @include backgroundPosition(50%, 50%);
    @include shadowHero();

    width: 100%;
    display: flex;
    flex-direction: column;

    h1{
        @include fluidfontsize(3.6rem, 6.4rem);
        @include montserrat();
        font-weight: 700;
        line-height: 1.0;
        color: map-get($theme-colors, "white-alt");
    }

    p {
        @include paragraph();
        @include myriadProRegular();
        line-height: 1.3;
        color: map-get($theme-colors, "white-alt");        
    }

    h3{
        @include header3();
        @include montserrat();
        font-weight: 700;
        line-height: 1.15;
        color: map-get($theme-colors, "secondary");
    }

    .hero-text {
        width: 100%;
        flex-direction: column;
        @include fluidpadding(
            map-get($externalPadding, "min"), 
            map-get($externalPadding, "max")
        );

        .hero-logo {
            @include fluidwidth(
                map-get($logoWidth, "min"),
                map-get($logoWidth, "max")
            );
        }

        .hero-title {
            @include fluidpaddingy($stdPaddingMin, $stdPaddingMax);
        }

        .hero-description {
            width: 55%;

            @media screen and (max-width: 960px) {
                width: 100%;
            }

            p {
                text-align: justify;
            }
        }
    }

    .hero-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        @media screen and (max-width: 1366px){
            flex-direction: column;
        }

        .hero-buttons {
            @include fluidpaddingx(
                map-get($externalPadding, "min"),
                map-get($externalPadding, "max")
            );

            display: flex;
            justify-content: center;
            flex-shrink: 1;

            @media screen and (max-width: 1366px) {
                @include fluidpaddingbottom(
                    map-get($externalPadding, "min"), 
                    map-get($externalPadding, "max")
                );
            }

            a {
                &:first-child {
                    margin-right: 1rem;
                }

                &:last-child {
                    margin-left: 1rem;
                }

                &:not(:last-child):not(:first-child) {
                    margin-right: 1rem;
                    margin-left: 1rem;
                }
            }
        }

        .hero-schedule {
            @include fluidpaddingx($stdPaddingMin, $extPaddingMax);
            @include fluidpaddingy($stdPaddingMin, $stdPaddingMax);
            
            background-color: map-get($theme-colors, "primary");
            border-radius: remToVw(136.6rem, 1rem) 0 0 remToVw(136.6rem, 1rem);
            display: flex;
            flex-direction: row;
            flex-grow: 2;

            @media screen and (max-width: 960px){
                display: none;
            }

            @media screen and (max-width: 1366px) {
                border-radius: 0;
                width: 100%;
            }

            .hero-schedule-element{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 3;

                .hero-schedule-title{
                    padding-bottom: 1rem;
                }

                .hero-schedule-date{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .hero-schedule-day{
                        margin-right: 1rem;
                    }
                }
                .more {
                    @include paragraph();
                    font-weight: 700;
                }

                &:last-child{
                    flex-shrink: 1;
                    @include fluidwidth(1rem, 2rem);
                }

                a {
                    @include paragraph();
                    @include montserrat();
                    color: map-get($theme-colors, "secondary");
                }
            }

            .hero-schedule-separator{
                width: .1rem;
                background-color: white;
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }
}