@mixin background($url){
    background: url($url);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin backgroundPosition($x, $y){
    background-position-x: $x;
    background-position-y: $y;
}

@mixin backgroundOverlaySecondaryGradient($url){
    background: linear-gradient(270deg, #FFC517 0%, rgba(255, 197, 23, 0.7) 49.93%, rgba(255, 197, 23, 0.47) 100.35%), url($url);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin backgroundOverlayPrimary($url){
    background: linear-gradient(0deg, rgba(2, 82, 179, 0.6),rgba(2, 82, 179, 0.6)), url($url);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin backgroundOverlaySecondary($url){
    background: linear-gradient(0deg, rgba(255, 197, 23, 0.6),rgba(255, 197, 23, 0.6)), url($url);
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin backgroundOverlaySecondaryDark($url){
    background: linear-gradient(0deg, rgba(150, 113, 4, 0.6),rgba(150, 113, 4, 0.6)), url($url);
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin backgroundOverlayDark($url) {
    background: linear-gradient(0deg, rgba(0, 16, 37, 0.8),rgba(0, 16, 37, 0.9)), url($url);
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin backgroundDark($url) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url($url);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin backgroundOverlayHover($url){
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.25)), url($url);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin backgroundOverlayDisabled($url){
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url($url);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin backgroundPlaceholder() {
    background: color(rgba(100,100,100,0.6));
}