@mixin shadowHero() {
    -webkit-box-shadow: 0rem 1.7rem 2rem 0rem rgba(0,0,0,0.3);
    -moz-box-shadow: 0rem 1.7rem 2rem 0rem rgba(0,0,0,0.3);
    box-shadow: 0rem 1.7rem 2rem 0rem rgba(0,0,0,0.3);
}

@mixin shadowDesc() {
    -webkit-box-shadow: inset 0rem 0rem 1.75rem 0rem rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0rem 0rem 1.75rem 0rem rgba(0,0,0,0.3);
    box-shadow: inset 0rem 0.5rem 1.75rem 0rem rgba(0,0,0,0.3);
}