@mixin showcase(){
    $img-padding: ("min": 3rem, "max": 4rem);

    @include fluidpaddingx(3rem, 5rem);
    @include fluidpaddingy(2rem, 5rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($theme-colors, "white-alt");

    h1{
        @include header1();
        @include montserrat();
        font-weight: 700;
        line-height: 1.0;
        color: map-get($theme-colors, "primary");
    }

    h2{
        @include header2();
        @include montserrat();
        font-weight: 700;
        line-height: 1.0;
        color: map-get($theme-colors, "primary");
    }
    
    h3{
        @include header3();
        @include montserrat();
        font-weight: 700;
        line-height: 1.15;
        color: map-get($theme-colors, "primary");
    }

    p, li {
        @include paragraph1();
        @include myriadProRegular();
        line-height: 1.3;
        color: map-get($theme-colors, "black-alt");        
    }

    ul {
        width: 100%;

        li {
            @include myriadProRegular();
            @include paragraph2();
            @include fluidleft(2.6rem, 3rem);
            letter-spacing: 0.01rem;
            color: map-get($theme-colors, "black");
            line-height: 1.5;
            list-style: none;
            position: relative;
        }
        li:before{
            content:'';
            position: absolute;
            @include fluidleft(-2rem, -2.4rem);
            @include fluidtop(0.9rem, 1.1rem);
            @include fluidwidth(1rem, 1.2rem);
            @include fluidheight(1rem, 1.2rem);
            display: inline-flex;
            border-radius: 50%;
            border: remToVw(96rem, .25rem) solid map-get($theme-colors, "primary");
        }
    } 

    .showcase-header{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @include fluidpaddingbottom(2rem, 2rem);
        }
    }

    .showcase-body {
        width: 100%;
        display: flex;
        flex-direction: row;

        @media screen and (max-width:960px){
            flex-direction: column;
        }

        .showcase-card {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            &:not(:last-child) {
                @media screen and (max-width: 960px) {
                    @include fluidmarginbottom(4rem, 4rem);
                }
            }

            .showcase-card-image{
                width: 100%;
                @include fluidpaddingx(
                    map-get($img-padding, "min"),
                    map-get($img-padding, "max"));
                    
                img {
                    width: 100%;
                    @include fluidpaddingbottom(2rem, 2rem);
                }
            }

            .showcase-card-placeholder{
                width: 100%;
                @include fluidpaddingy(10rem, 10rem);
                // @include fluidpaddingx(
                //     map-get($img-padding, "min"),
                //     map-get($img-padding, "max"));
                color: map-get($theme-colors, "primary-light");
                @include fluidwidth(25rem,25rem);
                @include fluidheight(30rem,30rem);
                background: linear-gradient(90deg, map-get($theme-colors, "secondary") 1, map-get($theme-colors, "secondary") 1);
                align-self: center;
                border-radius: 2rem;
                @include montserrat();
                @include header3();
                font-weight: 700;
                text-align: center;

            }
                
            .showcase-card-title{
                width: 100%;
                // display: inline-flex;
                @include fluidpaddingx(1rem, 2rem);
                @include fluidpaddingbottom(2rem, 2rem);
                text-align: center;
            }
            .showcase-card-description{
                // flex-grow: 1;
                // align-items: baseline;
                font-style: italic;
                width: 100%;
                @include fluidpaddingx(
                    map-get($img-padding, "min"),
                    map-get($img-padding, "max"));
                @include fluidpaddingbottom(2rem, 2rem);
            }
        }
    }
}

@mixin showcase2(){
    $img-padding: ("min": 3rem, "max": 4rem);
    @include background("../assets/pre-event/speaker-backdrop.png");
    @include fluidpaddingtop(5rem, 6rem);
    @include fluidpaddingbottom(10rem, 12rem);
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: map-get($theme-colors, "white-alt");

    h1{
        @include header1();
        @include montserrat();
        font-weight: 700;
        line-height: 1.0;
        color: map-get($theme-colors, "white");
    }

    h2{
        @include header2();
        @include montserrat();
        font-weight: 700;
        line-height: 1.0;
        color: map-get($theme-colors, "white");
    }
    
    
    h3 {
        @include fluidfontsize(1.6rem, 2rem);
        @include montserrat();
        font-weight: 600;
        color: map-get($theme-colors, "white");
        position: relative;        
    }

    h3:before{
        content:'';
        position: absolute;
        @include fluidleft(-2rem, -2.4rem);
        @include fluidtop(0.4rem, 0.6rem);
        @include fluidwidth(1.2rem, 1.4rem);
        @include fluidheight(1.2rem, 1.4rem);
        display: inline-flex;
        border-radius: 50%;
        background-color: map-get($theme-colors, "secondary");
    }

    .showcase-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include fluidpaddingbottom(7rem, 8rem);
    }

    .showcase-body {
        @include background("../assets/pre-event/showcase-body.svg");
        @include backgroundPosition(0%, 50%);
        @include fluidminheight(30rem, 35rem);
        width: 80%;
        border-radius: 3rem;
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: center;


        .showcase-image{
            width: 32%;
            // @include fluidpadding(6rem, 6rem);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 60%;
            }
        }

        .showcase-text {
            @include fluidpaddingleft(8rem, 8rem);
            width: 68%;
            .speaker-title {
                @include fluidpaddingtop(1rem, 1.2rem);
                @include fluidpaddingleft(2rem, 2.4rem);
            }
        }   
    }
}